<!doctype html>
<html layout:decorator="layouts/main"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http:www.thymeleaf.org">

<head>
    <title>Renta</title>
    <link href="css/carousel.css" rel="stylesheet" th:href="@{/css/carousel.css}"/>
</head>
<body onload="myFunction()">

<div layout:fragment="content">
    <!-- Marketing messaging and featurettes
================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <br/>
        <div><h2>Generar renta</h2></div>
        <!-- START THE FEATURETTES -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="#" autocomplete="off" class="form-horizontal"
                          method="post" role="form" th:action="@{/addRentas}"
                          th:object="${rentaDTO}">
                        <p></p>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <!-- Nombre del cliente -->
                                <select class="form-control" th:field="*{customerID}">
                                    <span>Cliente</span>
                                    <option th:each="customer : ${customerList}"
                                            th:text="${customer.firstName + ' ' + customer.lastName}"
                                            th:value="${customer.id}"></option>
                                </select>
                            </div>
                        </div>
                        <!--FECHA-->
                        <div class="form-group">
                            <div class="col-sm-9">
                                <span>Fecha de renta</span>
                                <input class="form-control" disabled="disabled" placeholder="Fecha de renta"
                                       th:field="*{dateOfRent}" type="date"/>
                                <label class="validation-message" th:errors="*{dateOfRent}"
                                       th:if="${#fields.hasErrors('dateOfRent')}"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <span>Fecha de devolución</span>
                                <input class="form-control" placeholder="dd/mm/yyyy"
                                       required="required" th:field="*{dateOfReturn}" type="date"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <span>Atendido por:</span> <!-- Correo electrónico del integrante -->
                                <input class="form-control"
                                       disabled="disabled" id="userMail" th:field="*{userMail}"/> <label
                                    class="validation-message" th:errors="*{userMail}"
                                    th:if="${#fields.hasErrors('userMail')}" type="email"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <span>Nombre del producto</span>
                                <input class="form-control" disabled="disabled" th:field="*{productName}" type="text"/>
                                <label class="validation-message" th:errors="*{productName}"
                                       th:if="${#fields.hasErrors('productName')}"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <span>Precio unitario</span>
                                <!-- La cantidad máxima está definida por los productos en existencia -->
                                <input class="form-control" disabled="disabled" placeholder="Precio unitario"
                                       th:field="*{price}" type="number"/>
                            </div>
                        </div>

                        <!--Cantidad -->
                        <div class="form-group">
                            <div class="col-sm-9">
                                <span>Cantidad</span>
                                <!-- La cantidad máxima está definida por los productos en existencia -->
                                <input class="form-control" min="1" th:field="*{quantity}" th:max="*{maxQuantity}"
                                       type="number"/>
                            </div>
                        </div>

                        <!--ID producto -->
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input class="form-control" th:field="*{productId}" type="hidden"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <button class="btn btn-primary btn-block" type="submit">Confirmar</button>
                            </div>
                        </div>

                        <span th:utext="${successMessage}"></span>


                    </form>
                </div>
            </div>
        </div>
        <hr class="featurette-divider"/>
        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
</div>
</body>
</html>