<!doctype html>
<html xmlns:th="http:www.thymeleaf.org"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/main">

<head>
    <p></p>
    <title>Registrando una alta</title>
    <link rel="stylesheet" href="css/carousel.css" th:href="@{/css/carousel.css}"/>

</head>
<body>

<div layout:fragment="content">
    <!-- Marketing messaging and featurettes
================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <p></p>
        <br/>
        <!-- START THE FEATURETTES -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form autocomplete="off" action="#" th:action="@{/addStock}"
                          th:object="${stockDTO}" method="post" class="form-horizontal"
                          role="form">
                        <h2>Realizando una alta</h2>
                        <p></p>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{stockEntryDate}"
                                       placeholder="Fecha de cambio" class="form-control"/> <label
                                    th:if="${#fields.hasErrors('stockEntryDate')}" th:errors="*{stockEntryDate}"
                                    class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{stockExpireDate}"
                                       class="form-control" placeholder="Descripción/motivos"/> <label
                                    th:if="${#fields.hasErrors('stockExpireDate')}" th:errors="*{stockExpireDate}"
                                    class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{quantiy}"
                                       placeholder="Cantidad" class="form-control"/> <label
                                    th:if="${#fields.hasErrors('quantiy')}" th:errors="*{quantiy}"
                                    class="validation-message"></label>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{productId}"
                                       placeholder="Product Id" class="form-control"/> <label
                                    th:if="${#fields.hasErrors('productId')}" th:errors="*{productId}"
                                    class="validation-message"></label>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                            </div>
                        </div>

                        <span th:utext="${successMessage}"></span>


                    </form>
                </div>
            </div>
        </div>
        <hr class="featurette-divider"/>
        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
</div>
</body>
</html>