<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PicArtApp Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="card-columns">
    <center>
        <div style="width: max-content; display: block;"><img th:src="@{/images/login.png}"/></div>
    </center>
    <form class="form-signin" method="POST" style="flex: content" th:action="@{/login}">
        <center><h3 class="form-signin-heading">Bienvenido</h3>
            <h4>Favor de ingresar sus credenciales</h4></center>
        <br/>

        <input class="form-control" id="email" name="username" th:placeholder="'Correo electrónico'" type="text"/> <br/>
        <input type="password" th:placeholder="Contraseña"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Verifique sus credenciales</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Entrar"></button>
    </form>
</div>
</body>
</html>