<!doctype html>
<html layout:decorator="layouts/main"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http:www.thymeleaf.org">

<head>
    <title>Renta</title>
    <link href="css/carousel.css" rel="stylesheet" th:href="@{/css/carousel.css}"/>
    <style>
        .selectWrapper {
            border-radius: 36px;
            display: inline-block;
            overflow: hidden;
            background: #cccccc;
            border: 1px solid #cccccc;
        }

        .selectBox {
            width: 140px;
            height: 40px;
            border: 0px;
            outline: none;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <div class="container">
            <br/>
            <h2>Productos disponibles</h2>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr class="table-active">
                            <th>Detalles</th>
                            <th>Stock</th>
                            <th>Acción</th>
                        </tr>

                        <tr th:each="product : ${page.content}">
                        <tr>
                            <td>
                                <span th:text="${product.displayName}"></span> <br/>
                                <span>$</span><span th:text="${product.barcode}"></span> por pieza <br/>
                                <!--stock-->
                            </td>
                            <td>
                                <span th:text="${product.quantiyInStock}"></span>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary" role="button"
                                   th:href="@{'/addRentas?productId=' + ${product.id}}">Rentar</a>
                                <!-- Holy smokes, it was just one -->
                            </td>
                        </tr>
                        </tr>
                    </table>
                    <span th:utext="${successMessage}"></span>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-1">
                    <!--  <select class="form-control pagination" id="l">
                          <option th:each="size : ${pageable.pageSize}" th:text="${pageable.pageSize}"
                                  th:value="${pageable.pageSize}"
                                  th:selected="${pageable.pageSize} == ${pageable.pageSize}"></option>
                      </select>
                      -->
                </div>


                <div class="form-group col-md-11 pagination-centered" th:if="${page.totalPages != 1}">
                    <ul class="pagination">

                        <li th:class="${pageable.pageNumber == 0} ? disabled">
                            <a class="pageLink" th:href="@{/pageable(page=0, size=${pageable.pageSize}, sort=id)}">&laquo;</a>
                        </li>


                        <li th:class="${pageable.pageNumber == 0} ? disabled">
                            <a class="pageLink"
                               th:href="@{/pageable(page=${pageable.pageNumber-1}, size=${pageable.pageSize}, sort=id)}">&larr;</a>
                        </li>


                        <li th:class="${pageable.pageNumber == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(0, page.totalPages-1)}">
                            <a class="pageLink" th:href="@{/pageable(page=${page}, size=${pageable.pageSize}, sort=id)}"
                               th:text="${page+1}"></a>
                        </li>

                        <li th:class="${pageable.pageNumber -1 == 0} ? 'active pointer-disabled'">
                            <a class="pageLink"
                               th:href="@{/pageable(page=${pageable.pageNumber -1}, size=${pageable.pageSize}, sort=id)}"></a>
                        </li>


                        <li th:class="${pageable.pageNumber + 1 == page.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/pageable(page=${pageable.pageNumber + 1}, size=${pageable.pageSize}, sort=id)}">&rarr;</a>
                        </li>


                        <li th:class="${pageable.pageNumber + 1 == page.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/pageable(page=${page.totalPages-1}, size=${pageable.pageSize}, sort=id)}">&raquo;</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <hr class="featurette-divider"/>
        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
</div>
</body>
</html>