<!doctype html>
<html layout:decorator="layouts/main"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http:www.thymeleaf.org">
<head>
    <title>Listado</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container marketing">
        <br/>
        <!-- START THE FEATURETTES -->
        <div class="container">
            <div class="flex-wrap">
                <div class="container">
                    <br/>
                    <div style="display: flex; flex-direction: row">
                        <div style="flex-flow: row; align-content: flex-start; margin-left: -15px">
                            <h2 style="margin-left: 2px"> Productos</h2>
                        </div>
                        <div style="align-content: flex-end; margin-left: auto">
                            <a class="btn btn-success" role="button"
                               style="width:150px;font-size: medium;font-weight: bolder; align-content: end"
                               th:href="@{/product}">Agregar </a>
                        </div>
                    </div>
                </div>
                <div class="card"
                     style="margin: 2px 2px 2px 2px ; padding: 2px 2px 2px 2px; display:flex; flex-direction: row; align-content: space-between"
                     th:each="product : ${products}">
                    <div style="flex-direction: column; align-content: flex-start">
                        <span style="font-size:larger;font-weight: bolder" th:text="${product.displayName}"></span>
                        <br/>
                        <span style="font-size:medium;font-weight:normal"
                              th:text="'Categoría: ' + ${product.catagory}"></span> <br/>
                        <span style="font-size:medium;font-style:oblique;font-weight: bold"
                              th:text="${product.quantity} + ' en stock'"></span> <br/>
                        <span style="font-size:medium;font-style:oblique;font-style: italic"
                              th:text="'Venta: '+'$' + ${product.weight} + '| Renta: '+'$' + ${product.barcode}"></span>
                        <br/>
                    </div>
                    <div style="align-content: flex-end; margin-left: auto">
                        <div style="flex-direction: column; flex-flow: column">
                            <div style="flex-direction: row; align-content: space-between">
                                <form method="post" th:action="@{/products/doDelete}">
                                    <input th:name="id" th:value="${product.id}" type="hidden"/>
                                    <button class="btn btn-danger" style="padding: 4px 27px" type="submit">Desactivar
                                    </button>
                                </form>
                                <a class="btn btn-info" role="button"
                                   style="padding: 4px 32px" th:href="@{'/product?id=' + ${product.id}}">Modificar</a>
                            </div>
                            <div style="flex-direction: row">
                                <a class="btn btn-outline-success" role="button" style="padding: 6px 14px"
                                   th:href="@{'/addStock?productId=' + ${product.id}}">Altas</a>
                                <a class="btn btn-outline-danger" role="button"
                                   style="padding: 6px 13px; margin-left: -4px"
                                   th:href="@{'/restStock?productId=' + ${product.id}}">Bajas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; align-content: end">
                    <div style="flex-direction: row" th:each="page : ${listaDePaginas}">
                        <a class="btn btn-outline-primary" role="button"
                           th:href="@{'/productsByPage/page/' + ${page.numeroDePagina}}"
                           th:text="${page.titulo}"></a>
                    </div>
                    <div style="align-content: flex-end; margin-left: auto">
                        <a class="btn btn-success" role="button"
                           style="width:150px;font-size: medium;font-weight: bolder; align-content: end; text-align: center"
                           th:href="@{/product/addCategory}">Agregar categoría </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="featurette-divider"/>
    </div><!-- /.container -->
</div>
</body>
</html>