<!doctype html>
<html layout:decorator="layouts/main"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http:www.thymeleaf.org">

<head>
    <title>Listado</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container marketing">
        <br/>
        <!-- START THE FEATURETTES -->
        <div class="container">
            <div class="flex-wrap">
                <div class="container">
                    <br/>
                    <table class="center-pill" style="margin-left: -16px; display: block">
                        <tr>
                            <td>
                                <a class="btn btn-outline-primary" role="button"
                                   th:href="@{/product}">+</a>
                            </td>
                            <td>
                                <h2 style="margin-left: 2px"> Productos</h2>
                            </td>
                            <td th:each="page : ${listaDePaginas}">
                                <a class="btn btn-outline-primary" role="button"
                                   th:href="@{'/productsByPage/page/' + ${page.numeroDePagina}}"
                                   th:text="${page.titulo}"></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card" style="margin: 2px 2px 2px 2px ; padding: 2px 2px 2px 2px"
                     th:each="product : ${products}">
                    <span th:text="${product.displayName}"></span>
                    <span th:text="'Categoría: ' + ${product.catagory}"></span>
                    <span th:text="${product.quantity} + ' en stock'"></span>
                    <span th:text="'$' + ${product.weight} + ' en venta'"></span>
                    <span th:text="'$' + ${product.barcode} + ' en renta'"></span>
                    <span></span>
                    <table>
                        <tr>
                            <td>
                                <form method="post" th:action="@{/products/doDelete}">
                                    <input th:name="id" th:value="${product.id}" type="hidden"/>
                                    <button class="btn btn-outline-primary" type="submit">Desactivar</button>
                                </form>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary" role="button"
                                   th:href="@{'/product?id=' + ${product.id}}">Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary" role="button"
                                   th:href="@{'/addStock?productId=' + ${product.id}}">Altas</a>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary" role="button"
                                   th:href="@{'/restStock?productId=' + ${product.id}}">Bajas</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr class="featurette-divider"/>
    </div><!-- /.container -->
</div>
</body>
</html>