<!doctype html>
<html layout:decorator="layouts/main"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http:www.thymeleaf.org">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<meta content="text/html; charset=US-ASCII" http-equiv="Content-Type"/>
<head>
    <title>Registro</title>
    <link href="css/carousel.css" rel="stylesheet" th:href="@{/css/carousel.css}"/>
</head>
<body>

<div layout:fragment="content">
    <p></p>
    <div class="container marketing">

        <!-- START THE FEATURETTES -->
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <form action="#" autocomplete="off" class="form-horizontal" method="post" role="form"
                      th:action="@{/registration}" th:object="${userDTO}">
                    <h2>Registrar un nuevo usuario</h2>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="Nombre" th:field="*{firstName}" type="text"/>
                            <label class="validation-message" th:errors="*{firstName}"
                                   th:if="${#fields.hasErrors('firstName')}"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="Apellido" th:field="*{lastName}" type="text"/>
                            <label class="validation-message" th:errors="*{lastName}"
                                   th:if="${#fields.hasErrors('lastName')}"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="Correo electrónico" th:field="*{email}"
                                   type="text"/>
                            <label class="validation-message" th:errors="*{email}"
                                   th:if="${#fields.hasErrors('email')}"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" id="password" placeholder="Contraseña" th:field="*{password}"
                                   type="password"/>
                            <label class="validation-message" th:errors="*{password}"
                                   th:if="${#fields.hasErrors('password')}"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" id="confirmPassword" placeholder="Confirmar contraseña"
                                   required="required" type="password"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label>Autorización:</label>
                            <select class="form-control" name="select" th:field="*{role}">
                                    <option th:text="Integrante" th:value="USER"></option>
                                    <option th:text="Administrador" th:value="ADMIN"></option>
                                </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <button class="btn btn-primary btn-block" type="submit">Registrar</button>
                        </div>
                    </div>
                    <span th:utext="${successMessage}"></span>
                    <span th:utext="${debugMessage}"></span>
                </form>
            </div>
        </div>
        <hr class="featurette-divider"/>
        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
</div>
</body>
</html>