<!doctype html>
<html layout:decorator="layouts/main"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http:www.thymeleaf.org">

<head>
    <title>Renta</title>
    <link href="css/carousel.css" rel="stylesheet" th:href="@{/css/carousel.css}"/>
</head>
<body onload="myFunction()">

<div layout:fragment="content">
    <!-- Marketing messaging and featurettes
================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <br/>
        <div><h6>Listando rentas</h6></div>
        <!-- START THE FEATURETTES -->
        <div class="container">
            <div class="box">
                <h2>Rentas con retraso</h2>
                <div th:each="delayedRenta : ${delayedRentas}">
                    <span th:text="${delayedRenta.customer.firstName + ' ' + delayedRenta.customer.lastName}"></span>
                    <br/>
                    <span th:text="${delayedRenta.quantity}"></span> productos <br/>
                    <span th:text="${delayedRenta.dateOfReturn}"></span> <br/>
                    <a class="btn btn-outline-primary" role="button"
                       th:href="@{'rent/return?rentaId=' + ${delayedRenta.idRenta}}">Realizar Devolución</a>
                    <p></p>
                </div>
            </div>

            <br/>
            <div class="box">
                <h2>Rentas en tiempo</h2>
                <div th:each="inTimeRenta : ${inTimeRentas}">
                    <span th:text="${inTimeRenta.customer.firstName + ' ' + inTimeRenta.customer.lastName}"></span>
                    <br/>
                    <span th:text="${inTimeRenta.quantity}"></span> productos <br/>
                    <span th:text="${inTimeRenta.dateOfReturn}"></span> <br/>
                    <a class="btn btn-outline-primary" role="button"
                       th:href="@{'rent/return?rentaId=' + ${inTimeRenta.idRenta}}">Realizar Devolución</a>
                    <p></p>
                </div>
            </div>
        </div>
        <hr class="featurette-divider"/>
    </div><!-- /.container -->
</div>
</body>
</html>