<!doctype html>
<html layout:decorator="layouts/main"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Reportes</title>
</head>
<body>

<div layout:fragment="content">
    <br/>
    <br/>
    <div style="margin-left: 7px">
        <h2> Menú de reportes</h2>
    </div>
    <div class="alert alert-secondary" role="alert">
        <p>
            En esta vista, el administrador encontrará reportes detallados sobre el inventario, además de las ventas y
            rentas realizadas así como qué Integrante realizó la mayor cantidad en cada caso.
        </p>
    </div>
    <form>
        <br/>
        <!-- START THE FEATURETTES -->
        <center>
            <div class="form-control">
                <div class="card">
                    <a th:href="@{'/inventory/selectPeriod?month=11&amp;year=2019'}">
                        <button class="btn btn-primary btn-lg btn-block" type="button">
                            Reporte de Inventario
                        </button>
                    </a>
                </div>
                <br/>
                <div class="card">
                    <a th:href="@{/ventasReport/selectPeriod?month=11&amp;year=2019}">
                        <button class="btn btn-primary btn-lg btn-block" type="button">
                            Reporte de Ventas
                        </button>
                    </a>
                </div>
                <br/>
                <div class="card">
                    <a th:href="@{'rentasReport/selectPeriod?month=11&amp;year=2019'}">
                        <button class="btn btn-primary btn-lg btn-block" type="button">
                            Reporte de Rentas
                        </button>
                    </a>
                </div>
                <hr class="featurette-divider"/>
            </div><!-- /.container -->
        </center>
    </form>
</div>
</body>
</html>