<!doctype html>
<html layout:decorator="layouts/main"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Devoluciones</title>
</head>
<body>

<div layout:fragment="content">
    <br/>
    <br/>
    <div class="alert alert-secondary" role="alert">
        <p>
            En este fragmento, el usuario tiene acceso a varios listados de devoluciones, ya sea las que fueron
            anteriormente realizadas o las que aún están en curso.
        </p>
    </div>
    <form>
        <br/>
        <!-- START THE FEATURETTES -->
        <center>
            <div class="form-control">
            <div class="card">
                <a th:href="@{'/rentList'}">
                    <button class="btn btn-primary btn-lg btn-block" type="button">
                        Rentas en curso
                    </button>
                </a>
            </div>
                <br/>
            <div class="card">
                <a th:href="@{'returns/list/1'}">
                    <button class="btn btn-primary btn-lg btn-block" type="button">
                        Devoluciones anteriores
                    </button>
                </a>
            </div>
            <hr class="featurette-divider"/>
        </div><!-- /.container -->
        </center>
    </form>
</div>
</body>
</html>